/* #region PRIMARY */
.dashed:not(.disabled).primary {
  border-color: var(--primary);
  color: var(--primary);
}
.dashed:not(.disabled).primary:hover {
  border-color: rgba(var(--primary-rgb), 0.5);
}
input.dashed:not(.disabled).primary:focus{
  border-color: var(--primary);
  box-shadow: 0 0 0 3.5px rgba(var(--primary-rgb), 0.25);
}
input[type="checkbox"]:checked + span > .ar-checkbox.dashed:not(.disabled).primary{
  box-shadow: 0 0 0 2.5px rgba(var(--primary-rgb), 0.1);
}
.dashed:not(.disabled).primary.active {
  /* Sırasıyla; Ad, Süre, Hız, Gecikme Süresi, Tekrar Sayısı, Yön, Bitiş Süreci */
  animation: clicked-primary ease-in-out 750ms 0s 1 normal both;
}
/* #endregion */
/* PRIMARY */

/* #region SECONDARY */
.dashed:not(.disabled).secondary {
  border-color: var(--secondary);
  color: var(--secondary);
}
.dashed:not(.disabled).secondary:hover {
  border-color: rgba(var(--secondary-rgb), 0.5);
}
input.dashed:not(.disabled).secondary:focus{
  border-color: var(--secondary);
  box-shadow: 0 0 0 3.5px rgba(var(--secondary-rgb), 0.25);
}
input[type="checkbox"]:checked + span > .ar-checkbox.dashed:not(.disabled).secondary{
  box-shadow: 0 0 0 2.5px rgba(var(--secondary-rgb), 0.1);
}
.dashed:not(.disabled).secondary.active {
  /* Sırasıyla; Ad, Süre, Hız, Gecikme Süresi, Tekrar Sayısı, Yön, Bitiş Süreci */
  animation: clicked-secondary ease-in-out 750ms 0s 1 normal both;
}
/* #endregion */
/* SECONDARY */

/* #region SUCCESS */
.dashed:not(.disabled).success {
  border-color: var(--success);
  color: var(--success);
}
.dashed:not(.disabled).success:hover {
  border-color: rgba(var(--success-rgb), 0.5);
}
input.dashed:not(.disabled).success:focus{
  border-color: var(--success);
  box-shadow: 0 0 0 3.5px rgba(var(--success-rgb), 0.25);
}
input[type="checkbox"]:checked + span > .ar-checkbox.dashed:not(.disabled).success{
  box-shadow: 0 0 0 2.5px rgba(var(--success-rgb), 0.1);
}
.dashed:not(.disabled).success.active {
  /* Sırasıyla; Ad, Süre, Hız, Gecikme Süresi, Tekrar Sayısı, Yön, Bitiş Süreci */
  animation: clicked-success ease-in-out 750ms 0s 1 normal both;
}
/* #endregion */
/* SUCCESS */

/* #region WARNING */
.dashed:not(.disabled).warning {
  border-color: var(--warning);
  color: var(--warning);
}
.dashed:not(.disabled).warning:hover {
  border-color: rgba(var(--warning-rgb), 0.5);
}
input.dashed:not(.disabled).warning:focus{
  border-color: var(--warning);
  box-shadow: 0 0 0 3.5px rgba(var(--warning-rgb), 0.25);
}
input[type="checkbox"]:checked + span > .ar-checkbox.dashed:not(.disabled).warning{
  box-shadow: 0 0 0 2.5px rgba(var(--warning-rgb), 0.1);
}
.dashed:not(.disabled).warning.active {
  /* Sırasıyla; Ad, Süre, Hız, Gecikme Süresi, Tekrar Sayısı, Yön, Bitiş Süreci */
  animation: clicked-warning ease-in-out 750ms 0s 1 normal both;
}
/* #endregion */
/* WARNING */

/* #region DANGER */
.dashed:not(.disabled).danger {
  border-color: var(--danger);
  color: var(--danger);
}
.dashed:not(.disabled).danger:hover {
  border-color: rgba(var(--danger-rgb), 0.5);
}
input.dashed:not(.disabled).danger:focus{
  border-color: var(--danger);
  box-shadow: 0 0 0 3.5px rgba(var(--danger-rgb), 0.25);
}
input[type="checkbox"]:checked + span > .ar-checkbox.dashed:not(.disabled).danger{
  box-shadow: 0 0 0 2.5px rgba(var(--danger-rgb), 0.1);
}
.dashed:not(.disabled).danger.active {
  /* Sırasıyla; Ad, Süre, Hız, Gecikme Süresi, Tekrar Sayısı, Yön, Bitiş Süreci */
  animation: clicked-danger ease-in-out 750ms 0s 1 normal both;
}
/* #endregion */
/* DANGER */

/* #region INFORMATION */
.dashed:not(.disabled).information {
  border-color: var(--information);
  color: var(--information);
}
.dashed:not(.disabled).information:hover {
  border-color: rgba(var(--information-rgb), 0.5);
}
input.dashed:not(.disabled).information:focus{
  border-color: var(--information);
  box-shadow: 0 0 0 3.5px rgba(var(--information-rgb), 0.25);
}
input[type="checkbox"]:checked + span > .ar-checkbox.dashed:not(.disabled).information{
  box-shadow: 0 0 0 2.5px rgba(var(--information-rgb), 0.1);
}
.dashed:not(.disabled).information.active {
  /* Sırasıyla; Ad, Süre, Hız, Gecikme Süresi, Tekrar Sayısı, Yön, Bitiş Süreci */
  animation: clicked-information ease-in-out 750ms 0s 1 normal both;
}
/* #endregion */
/* INFORMATION */

/* #region DARK */
.dashed:not(.disabled).dark {
  border-color: var(--dark);
  color: var(--dark);
}
.dashed:not(.disabled).dark:hover {
  border-color: rgba(var(--dark-rgb), 0.5);
}
input.dashed:not(.disabled).dark:focus{
  border-color: var(--dark);
  box-shadow: 0 0 0 3.5px rgba(var(--dark-rgb), 0.25);
}
input[type="checkbox"]:checked + span > .ar-checkbox.dashed:not(.disabled).dark{
  box-shadow: 0 0 0 2.5px rgba(var(--dark-rgb), 0.1);
}
.dashed:not(.disabled).dark.active {
  /* Sırasıyla; Ad, Süre, Hız, Gecikme Süresi, Tekrar Sayısı, Yön, Bitiş Süreci */
  animation: clicked-dark ease-in-out 750ms 0s 1 normal both;
}
/* #endregion */
/* DARK */

/* #region LIGHT */
.dashed:not(.disabled).light {
  border-color: var(--light);
  color: var(--dark);
}
.dashed:not(.disabled).light:hover {
  border-color: rgba(var(--light-rgb), 0.5);
}
input.dashed:not(.disabled).light:focus{
  border-color: var(--light);
  box-shadow: 0 0 0 3.5px rgba(var(--light-rgb), 0.25);
}
input[type="checkbox"]:checked + span > .ar-checkbox.dashed:not(.disabled).light{
  box-shadow: 0 0 0 2.5px rgba(var(--light-rgb), 0.1);
}
.dashed:not(.disabled).light.active {
  /* Sırasıyla; Ad, Süre, Hız, Gecikme Süresi, Tekrar Sayısı, Yön, Bitiş Süreci */
  animation: clicked-light ease-in-out 750ms 0s 1 normal both;
}
/* #endregion */
/* LIGHT */