.ar-chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
  height: 1.75rem;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  white-space: nowrap;
  user-select: none;
}
