.ar-modal-wrapper {
  position: absolute;
  inset: 0;
  background-color: rgba(var(--black-rgb), 0.5);
  backdrop-filter: blur(5px);
}

/* #region Open or Close */
.ar-modal-wrapper:is(.opened) {
  visibility: visible;
  opacity: 1;
  transition: visibility 250ms, opacity 250ms ease-in-out;
  z-index: 100;
}
.ar-modal-wrapper:is(.opened) > .ar-modal {
  top: 4.5rem;
  transform: translateX(-50%) scale(1);
  transition: top 250ms, transform 250ms 300ms ease-in-out;
}

.ar-modal-wrapper:is(.closed) {
  visibility: hidden;
  opacity: 0;
  transition: visibility 250ms 300ms, opacity 250ms 300ms ease-in-out;
  z-index: 99;
}
.ar-modal-wrapper:is(.closed) > .ar-modal {
  top: -100%;
  transform: translateX(-50%) scale(0.8);
  transition: top 250ms 300ms, transform 250ms ease-in-out;
}
/* #endregion */
/* Open or Close */

.ar-modal-wrapper > .ar-modal {
  position: absolute;
  left: 50%;
  background-color: var(--white);
  border-radius: var(--border-radius-sm);
}

.ar-modal-wrapper > .ar-modal.large {
  width: 75%;
}
.ar-modal-wrapper > .ar-modal.normal {
  width: 520px;
}
.ar-modal-wrapper > .ar-modal.small {
  width: 25%;
}

@import url("./header.css");
@import url("./content.css");
@import url("./footer.css");
