.ar-alert.primary-border {
  border-color: rgba(var(--primary-rgb), 0.5);
}
.ar-alert.secondary-border {
  border-color: rgba(var(--secondary-rgb), 0.5);
}
.ar-alert.success-border {
  border-color: rgba(var(--success-rgb), 0.5);
}
.ar-alert.warning-border {
  border-color: rgba(var(--warning-rgb), 0.5);
}
.ar-alert.danger-border {
  border-color: rgba(var(--danger-rgb), 0.5);
}
.ar-alert.information-border {
  border-color: rgba(var(--information-rgb), 0.5);
}
.ar-alert.light-border {
  border-color: rgba(var(--light-rgb), 0.5);
}
.ar-alert.dark-border {
  border-color: rgba(var(--dark-rgb), 0.5);
}
