.ar-date-calendar > .clock > .header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px var(--gray-200);
  text-align: center;
  /* -webkit-text-stroke: 1px var(--black); */
}
