.notification {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  gap: 1.25rem 0;
  user-select: none;
  z-index: 1051;
}

.notification.top-left {
  top: 1rem;
  left: 1rem;
}
.notification.top-right {
  top: 1rem;
  right: 1rem;
}
.notification.bottom-left {
  bottom: 1rem;
  left: 1rem;
}
.notification.bottom-right {
  bottom: 1rem;
  right: 1rem;
}

.notification > .item {
  display: flex;
  flex-direction: row;
  gap: 0 0.5rem;
  width: 100%;
  height: 5rem;
  border-radius: var(--border-radius-xl);
  overflow: hidden;
  /* Sırasıyla; Ad, Süre, Hız, Gecikme Süresi, Tekrar Sayısı, Yön, Bitiş Süreci */
  animation: openSnackbar ease-in-out 500ms 0s 1 normal both;
}

.notification > .item.success {
  background-color: var(--success);
}
.notification > .item.warning {
  background-color: var(--warning);
}
.notification > .item.information {
  background-color: var(--info);
}
.notification > .item.error {
  background-color: var(--danger);
}

.notification > .item > .icon {
  position: relative;
  min-width: 3rem;
  border-top-left-radius: var(--border-radius-xl);
  border-bottom-left-radius: var(--border-radius-xl);
  overflow: hidden;
}
.notification > .item > .icon > span {
  position: absolute;
  border-radius: var(--border-radius-pill);
}
/* .notification > .item > .icon > span:nth-child(1) {
  top: 0.5rem;
  left: 0.5rem;
  width: 0.25rem;
  height: 0.25rem;
}
.notification > .item > .icon > span:nth-child(2) {
  top: 1.5rem;
  left: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
}
.notification > .item > .icon > span:nth-child(3) {
  top: 2rem;
  left: 1.75rem;
  width: 1rem;
  height: 1rem;
}
.notification > .item > .icon > span:nth-child(4) {
  bottom: -1.5rem;
  left: -0.5rem;
  width: 3rem;
  height: 3rem;
}
.notification > .item > .icon > span:nth-child(5) {
  bottom: 1.15rem;
  left: 1rem;
  width: 0.55rem;
  height: 0.55rem;
} */
.notification > .item > .icon > span.success {
  background-color: var(--success);
}
.notification > .item > .icon > span.warning {
  background-color: var(--warning);
}
.notification > .item > .icon > span.information {
  background-color: var(--info);
}
.notification > .item > .icon > span.error {
  background-color: var(--danger);
}

.notification > .item > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem 0;
  width: 100%;
  padding: 0 1rem;
  color: var(--white);
}
.notification > .item > .content > .title {
  font-size: 1.3rem;
}
.notification > .item > .content > .message {
}

.notification > .item > .close {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.5rem;
  background-color: rgba(var(--black-rgb), 0.1);
  color: rgba(var(--white-rgb), 0.75);
}

@media only screen and (max-width: 480px) {
  .notification.top-left {
    inset: 1rem 1rem auto 1rem;
  }
  .notification.top-right {
    inset: 1rem 1rem auto 1rem;
  }
  .notification.bottom-left {
    inset: auto 1rem 1rem 1rem;
  }
  .notification.bottom-right {
    inset: auto 1rem 1rem 1rem;
  }
}

@keyframes openSnackbar {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes removeSnackbar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500px);
  }
}
