.ar-switch-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: var(--input-height);
}
.ar-switch-wrapper > label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 0.5rem;
  user-select: none;
}
.ar-switch-wrapper > label > input[type="checkbox"] {
  display: none;
}

.ar-switch-wrapper > label > .ar-switch {
  position: relative;
  display: inline-block;
  width: 2.25rem;
  height: 1.25rem;
  transition: box-shadow 250ms ease-in-out;
}

.ar-switch-wrapper > label > input[type="checkbox"] + .ar-switch > .handle {
  position: absolute;
  top: 50%;
  left: 0.15rem;
  transform: translateY(-50%);
  display: inline-block;
  content: "";
  background-color: var(--white);
  width: 0.85rem;
  height: 0.85rem;
  transition: left 150ms, width 150ms 150ms, height 150ms 150ms, box-shadow 150ms 150ms ease-in-out;
}
.ar-switch-wrapper > label > input[type="checkbox"].checked + .ar-switch > .handle {
  left: calc(2.25rem - 1rem);
}

@import url("./core/border.css");
