.ar-button-action {
  position: relative;
}

.ar-action-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 0.25rem;
  border: solid 1px var(--gray-200);
  border-radius: var(--border-radius-sm);
  box-shadow: 0 0 15px -2.5px rgba(var(--black-rgb), 0.1);
  z-index: 1051;
  transition: visibility 250ms, opacity 250ms;
}
/* .ar-action-buttons::after {
  position: absolute;
  top: 0.5rem;
  left: 100%;
  content: "";
  border: solid 10px transparent;
  border-left-color: var(--gray-200);
} */
