.row {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-flow: row wrap;
  margin-top: -0.75rem;
  margin-left: -0.75rem;
}
.row:has(+ .row) {
  margin-bottom: 0.75rem;
}
.row > * {
  padding-top: 0.75rem;
  padding-left: 0.75rem;
}
.row > .col {
  position: relative;
  flex: 1 1 auto;
  /* flex: 1 1 auto;
  min-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-preferred-size: 0;
  -ms-flex-positive: 1; */
}
.row > [class*="col"].left {
  text-align: left;
}
.row > [class*="col"].center {
  text-align: center;
}
.row > [class*="col"].right {
  display: flex;
  justify-content: flex-end;
}
