.ar-diagram {
  overflow: hidden;

  > .content {
    position: absolute;
    inset: 0;
    background-color: var(--gray-100);
    background-image: radial-gradient(circle, var(--gray-400) 1px, transparent 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
    height: 100%;
    border: 1px solid var(--gray-200);
    cursor: grab;
    overflow: hidden;

    &:active {
      cursor: grabbing;
    }

    > .nodes-wrapper {
      position: absolute;
      top: 0;
      left: 0;

      > .edges {
        position: absolute;
        inset: 0;

        > div {
          position: absolute;
          height: 2px;
          background: repeating-linear-gradient(
            90deg,
            var(--purple-500) 0px,
            var(--purple-500) 10px,
            transparent 10px,
            transparent 20px
          );
          animation: moveLine 1s linear infinite;
          transform-origin: left center;
          pointer-events: none;
        }
      }

      > .nodes {
        div {
          position: absolute;
          background-color: var(--white);
          padding: 0.5rem 1rem;
          border-radius: var(--border-radius-sm);
          box-shadow: 0px 10px 5px -5px rgba(var(--black-rgb), 0.1);
          cursor: grab;
          user-select: none;

          &:active {
            cursor: grabbing;
          }

          > span {
            color: var(--gray-700);
            text-wrap: nowrap;
          }
        }
      }
    }
  }
}

@keyframes moveLine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}
