.ar-button.text {
  background-color: transparent;
  border-width: 1px;
  border-color: transparent;
}

.ar-button.text.disabled {
  border-color: var(--gray-500);
  color: var(--gray-500);
}

.ar-button.text:not(.disabled).primary {
  border-color: var(--primary);
  color: var(--primary);
}
.ar-button.text:not(.disabled).primary:hover {
  background-color: rgba(var(--primary-rgb), 0.1);
}
.ar-button.text:not(.disabled).primary:active {
  background-color: rgba(var(--primary-rgb), 0.2);
}

.ar-button.text:not(.disabled).secondary {
  border-color: var(--secondary);
  color: var(--secondary);
}
.ar-button.text:not(.disabled).secondary:hover {
  background-color: rgba(var(--secondary-rgb), 0.1);
}
.ar-button.text:not(.disabled).secondary:active {
  background-color: rgba(var(--secondary-rgb), 0.2);
}

.ar-button.text:not(.disabled).success {
  border-color: var(--success);
  color: var(--success);
}
.ar-button.text:not(.disabled).success:hover {
  background-color: rgba(var(--success-rgb), 0.1);
}
.ar-button.text:not(.disabled).success:active {
  background-color: rgba(var(--success-rgb), 0.2);
}

.ar-button.text:not(.disabled).warning {
  border-color: var(--warning);
  color: var(--warning);
}
.ar-button.text:not(.disabled).warning:hover {
  background-color: rgba(var(--warning-rgb), 0.1);
}
.ar-button.text:not(.disabled).warning:active {
  background-color: rgba(var(--warning-rgb), 0.2);
}

.ar-button.text:not(.disabled).danger {
  border-color: var(--danger);
  color: var(--danger);
}
.ar-button.text:not(.disabled).danger:hover {
  background-color: rgba(var(--danger-rgb), 0.1);
}
.ar-button.text:not(.disabled).danger:active {
  background-color: rgba(var(--danger-rgb), 0.2);
}

.ar-button.text:not(.disabled).information {
  border-color: var(--information);
  color: var(--information);
}
.ar-button.text:not(.disabled).information:hover {
  background-color: rgba(var(--information-rgb), 0.1);
}
.ar-button.text:not(.disabled).information:active {
  background-color: rgba(var(--information-rgb), 0.2);
}

.ar-button.text:not(.disabled).light {
  border-color: var(--light);
  color: var(--gray-500);
}
.ar-button.text:not(.disabled).light:hover {
  background-color: rgba(var(--light-rgb), 0.1);
}
.ar-button.text:not(.disabled).light:active {
  background-color: rgba(var(--light-rgb), 0.2);
}
.ar-button.text:not(.disabled).dark {
  border-color: var(--dark);
  color: var(--dark);
}
.ar-button.text:not(.disabled).dark:hover {
  background-color: rgba(var(--dark-rgb), 0.1);
}
.ar-button.text:not(.disabled).dark:active {
  background-color: rgba(var(--dark-rgb), 0.2);
}
