.ar-radio-wrapper {
  display: flex;
  align-items: center;
  height: var(--input-height);
}
.ar-radio-wrapper > label > :is(input[type="radio"]) {
  display: none;
}
.ar-radio-wrapper > label > span {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  user-select: none;
}
.ar-radio-wrapper > label > span > .ar-radio {
  position: relative;
  display: inline-block;
  min-width: 1rem;
  min-height: 1rem;
}
.ar-radio-wrapper > label > :is(input[type="radio"]):checked + span > .ar-radio {
  z-index: 2;
}
.ar-radio-wrapper > label > :is(input[type="radio"]):checked + span > .ar-radio::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  display: inline-block;
  content: "";
  width: 0.25rem;
  height: 0.5rem;
  border: solid 1px transparent;
  border-right-color: var(--white);
  border-bottom-color: var(--white);
}

.ar-radio-wrapper > label > span > .trace {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: var(--border-radius-pill);
  z-index: 1;
}
.ar-radio-wrapper > label > span > .past-trace {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: var(--border-radius-pill);
  z-index: 1;
}

.ar-radio-wrapper > label > .validation {
  color: var(--danger);
  font-size: 0.8rem;
  font-weight: 400;
}

@import url("./core/border.css");
