.ar-button.ar-button-shape {
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0 !important;
}
.ar-button.ar-button-shape.circle {
  border-radius: var(--border-radius-pill);
}
.ar-button.ar-button-shape.square {
}
