/* #region Primary */
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).primary:hover {
  border-color: rgba(var(--primary-rgb), 0.5);
}
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).primary:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 2.5px rgba(var(--primary-rgb), 0.25);
}
/* #endregion Primary */
/* Primary */

/* #region Secondary */
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).secondary:hover {
  border-color: rgba(var(--secondary-rgb), 0.5);
}
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).secondary:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 0 2.5px rgba(var(--secondary-rgb), 0.25);
}
/* #endregion Secondary */
/* Secondary */

/* #region Success */
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).success:hover {
  border-color: rgba(var(--success-rgb), 0.5);
}
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).success:focus {
  border-color: var(--success);
  box-shadow: 0 0 0 2.5px rgba(var(--success-rgb), 0.25);
}
/* #endregion Success */
/* Success */

/* #region Warning */
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).warning:hover {
  border-color: rgba(var(--warning-rgb), 0.5);
}
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).warning:focus {
  border-color: var(--warning);
  box-shadow: 0 0 0 2.5px rgba(var(--warning-rgb), 0.25);
}
/* #endregion Warning */
/* Warning */

/* #region Danger */
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).danger:hover {
  border-color: rgba(var(--danger-rgb), 0.5);
}
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).danger:focus {
  border-color: var(--danger);
  box-shadow: 0 0 0 2.5px rgba(var(--danger-rgb), 0.25);
}
/* #endregion Danger */
/* Danger */

/* #region Information */
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).information:hover {
  border-color: rgba(var(--information-rgb), 0.5);
}
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).information:focus {
  border-color: var(--information);
  box-shadow: 0 0 0 2.5px rgba(var(--information-rgb), 0.25);
}
/* #endregion Information */
/* Information */

/* #region Dark */
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).dark:hover {
  border-color: rgba(var(--dark-rgb), 0.5);
}
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).dark:focus {
  border-color: var(--dark);
  box-shadow: 0 0 0 2.5px rgba(var(--dark-rgb), 0.25);
}
/* #endregion Dark */
/* Dark */

/* #region Light */
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).light:hover {
  border-color: rgba(var(--light-rgb), 0.5);
}
.ar-input-wrapper > .ar-input > input.borderless:not(.disabled).light:focus {
  border-color: var(--light);
  box-shadow: 0 0 0 2.5px rgba(var(--light-rgb), 0.25);
}
/* #endregion Light */
/* Light */
