.ar-select-wrapper > .options {
  position: absolute;
  inset: auto 0 auto 0;
  background-color: var(--white);
  border: solid 1px var(--gray-200);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  z-index: 5;
  transition: visibility 250ms, opacity 250ms, transform 250ms ease-in-out;
}
.ar-select-wrapper > .options.top {
  inset: 100% 0 auto 0;
  box-shadow: 0 5px 15px -2.5px rgba(var(--black-rgb), 0.1);
}
.ar-select-wrapper > .options.bottom {
  inset: auto 0 100% 0;
  box-shadow: 0 -5px 15px -2.5px rgba(var(--black-rgb), 0.1);
}

.ar-select-wrapper > .options > .search-field {
  padding: 0.5rem;
  border-bottom: solid 1px var(--gray-200);
}

.ar-select-wrapper > .options > ul {
  width: 100%;
  max-height: calc(var(--input-height) * 5);
  overflow-x: hidden;
  overflow-y: auto;
}
.ar-select-wrapper > .options > ul > li {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  padding: 0 1rem;
  height: var(--input-height);
  cursor: pointer;
}
.ar-select-wrapper > .options > ul > li:hover {
  background-color: var(--gray-200);
}
.ar-select-wrapper > .options > ul > li.selectedItem {
  /* background-color: rgba(var(--success-rgb), 0.1); */
}
.ar-select-wrapper > .options > ul > li.navigate-with-arrow-keys {
  background-color: var(--gray-100);
}

.ar-select-wrapper > .options:is(.opened) {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}
.ar-select-wrapper > .options:is(.closed) {
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0.8);
  height: 0;
}

.ar-select-wrapper > .options.top:is(.opened, .closed),
.ar-select-wrapper > .options.top:is(.opened, .closed) {
  transform-origin: top;
}
.ar-select-wrapper > .options.bottom:is(.opened, .closed),
.ar-select-wrapper > .options.bottom:is(.opened, .closed) {
  transform-origin: bottom;
}
