.ar-select-wrapper {
  position: relative;
  width: 100%;
  user-select: none;

  > .ar-select {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;

    > .wrapper {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;

      > .selections {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        min-height: var(--input-height);
        padding: 0.35rem 0.5rem;

        > .items {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          gap: 0.25rem;
          width: calc(100% - 2.75rem);
        }

        > ul {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;

          > li {
            background-color: var(--gray-100);
            padding: 0 0.5rem;
            border: solid 1px var(--gray-200);
            border-radius: var(--border-radius-sm);
          }
        }
      }

      > span {
        &.placeholder {
          position: absolute;
          top: calc(var(--input-height) / 2);
          transform: translateY(-50%);
          left: 0.55rem;
          color: var(--dark);
          font-size: 1rem;
          font-weight: 400;
          font-family: var(--system);
          z-index: 1;
          transition: top 250ms ease-in-out;

          &.visible {
            visibility: visible;
            opacity: 1;
            top: -0.5rem;
            transform: translateY(0);
            left: 0.55rem;
            padding: 0 0.5rem;
            color: var(--gray-600);
            font-size: 0.75rem;
            letter-spacing: 1px;
          }
        }
      }
    }

    > .ar-input-wrapper {
      white-space: nowrap;
      text-overflow: ellipsis;

      > .ar-input {
        white-space: nowrap;
        text-overflow: ellipsis;

        > .input {
          width: 100%;

          > input {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            outline: none;
            padding-right: 3.5rem;
          }
        }
      }
    }

    .buttons {
      position: relative;
      display: flex;
      flex-direction: row;

      > .angel-down {
        position: absolute;
        top: calc(var(--input-height) / 2);
        transform: translateY(-50%);
        right: 0.5rem;
        width: 0.75rem;
        height: 0.75rem;
        cursor: pointer;
        transform-origin: center;
        transition: transform 250ms ease-in-out;

        &.opened {
          transform: translateY(-50%) scaleY(-1);
        }

        &.closed {
          transform: translateY(-50%) scaleY(1);
        }

        &::before {
          display: inline-block;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border: 1px transparent;
          border-top-style: dashed;
          border-right-style: dashed;
          border-bottom-style: solid;
          border-left-style: solid;
          border-top-color: rgba(var(--black-rgb), 0.1);
          border-right-color: rgba(var(--black-rgb), 0.1);
          border-bottom-color: rgba(var(--black-rgb), 0.5);
          border-left-color: rgba(var(--black-rgb), 0.5);
          transform: rotate(-45deg);
        }
      }

      > .button-clear {
        position: absolute;
        top: calc(var(--input-height) / 2);
        transform: translateY(-50%);
        right: 2rem;
        background-color: rgba(var(--black-rgb), 0.25);
        backdrop-filter: blur(5px);
        width: 1rem;
        height: 1rem;
        border-radius: var(--border-radius-pill);
        text-align: center;
        line-height: 0.7rem;
        cursor: pointer;

        &.opened {
          visibility: visible;
          opacity: 1;
        }

        &.closed {
          visibility: hidden;
          opacity: 0;
        }

        &::before {
          content: "x";
          color: var(--white);
          font-size: 0.75rem;
        }
      }
    }

    > .validation {
      color: var(--danger);
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
}

@import url("./options.css");
