.ar-menu > ul li ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 750ms 0s, margin 250ms 750ms ease-in-out;
}
.ar-menu > ul li ul.opened {
  max-height: 100rem;
  margin: 0.5rem 0 0.5rem 1rem;
  transition: max-height 750ms ease-in-out;
}
