.ar-button.large {
  height: 3.25rem;
  padding: 0 1.25rem;
  font-size: 1.25rem;
}
.ar-button.normal {
  height: 2.5rem;
  padding: 0 1rem;
}
.ar-button.small {
  height: 1.75rem;
  padding: 0 0.75rem;
  font-size: 0.75rem;
}
