/* Medium (Tablet Dikey & Büyük Telefonlar) */
@media (min-width: 576px) and (max-width: 767px) {
  .ar-layout > aside.ar-aside.right {
    width: 100%;
  }

  .ar-layout > main {
    width: 100%;
  }
  .ar-layout > main > header {
    height: 5rem;
    padding: 0 2.5rem;
  }

  .ar-layout > main > section:not(.full-width) {
    max-width: none;
    padding: 2.5rem;
  }
}
