@media (width <= 767px) {
  .ar-layout > header > .ar-header-with-wrap {
    width: 95% !important;
  }

  .ar-layout > main {
    width: 95% !important;
  }

  .ar-layout > main > aside.ar-aside.left {
    display: none;
  }
  .ar-layout > main > aside.ar-aside.right {
    display: none;
  }

  .ar-layout > main > section {
    min-width: 100% !important;
    padding-left: 0 !important;
  }
}
