/* X-Large (Standart Laptop & Küçük Desktop) */
@media (min-width: 992px) and (max-width: 1199px) {
  .ar-layout > aside.ar-aside.right {
    width: 100%;
  }

  .ar-layout > main {
    width: 100%;
  }
  .ar-layout > main > header {
    height: 5rem;
    padding: 0 2.5rem;
  }

  .ar-layout > main > section:not(.full-width) {
    max-width: 960px;
    padding: 2.5rem;
  }
}
