/* X-Small (Ekstra Küçük Telefonlar, Saat vb.) */
@media (max-width: 320px) {
  .ar-layout > aside.ar-aside.left {
    min-width: 3.7rem;
    max-width: 3.7rem;
    padding: 0 1rem;
    overflow: hidden;
  }
  .ar-layout > aside.ar-aside.left:hover {
    min-width: 280px;
    max-width: 280px;
  }
  .ar-layout > aside.ar-aside.left > .logo {
    visibility: hidden;
    opacity: 0;
    height: 5rem;
    margin-bottom: 1rem;
  }
}
