/* XXX-Large (Büyük Ekranlar: TV, Ultra Geniş Monitörler) */

@media (min-width: 1400px) {
  .ar-layout > aside.ar-aside.left {
    min-width: 280px;
    max-width: 280px;
    padding: 0 1rem;
  }
  .ar-layout > aside.ar-aside.left > .logo {
    height: 5rem;
    margin-bottom: 1rem;
  }

  .ar-layout > aside.ar-aside.right {
    width: 100%;
  }

  .ar-layout > main {
    width: 100%;
  }
  .ar-layout > main > header {
    height: 5rem;
    padding: 0 2.5rem;
  }

  .ar-layout > main > section {
    max-width: 1340px;
    padding: 2.5rem;
  }
}
