/* Genel */
/* .ar-input-wrapper:not(.addon) > .ar-input > input.border-radius-sm {
  border-radius: var(--border-radius-sm);
}
.ar-input-wrapper:not(.addon) > .ar-input > input.border-radius-lg {
  border-radius: var(--border-radius-lg);
}
.ar-input-wrapper:not(.addon) > .ar-input > input.border-radius-xl {
  border-radius: var(--border-radius-xl);
}
.ar-input-wrapper:not(.addon) > .ar-input > input.border-radius-xxl {
  border-radius: var(--border-radius-xxl);
}
.ar-input-wrapper:not(.addon) > .ar-input > input.border-radius-pill {
  border-radius: var(--border-radius-pill);
} */

/* Addon */
.ar-input-wrapper:is(.addon) > .addon-before.border-radius-sm {
  border-top-left-radius: var(--border-radius-sm);
  border-bottom-left-radius: var(--border-radius-sm);
}
.ar-input-wrapper:is(.addon) > .addon-before.border-radius-lg {
  border-top-left-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
}
.ar-input-wrapper:is(.addon) > .addon-before.border-radius-xl {
  border-top-left-radius: var(--border-radius-xl);
  border-bottom-left-radius: var(--border-radius-xl);
}
.ar-input-wrapper:is(.addon) > .addon-before.border-radius-xxl {
  border-top-left-radius: var(--border-radius-xxl);
  border-bottom-left-radius: var(--border-radius-xxl);
}
.ar-input-wrapper:is(.addon) > .addon-before.border-radius-pill {
  border-top-left-radius: var(--border-radius-pill);
  border-bottom-left-radius: var(--border-radius-pill);
}

.ar-input-wrapper:is(.addon):not(:has(> .ar-button)) > .addon-after.border-radius-sm {
  border-top-right-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}
.ar-input-wrapper:is(.addon):not(:has(> .ar-button)) > .addon-after.border-radius-lg {
  border-top-right-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
}
.ar-input-wrapper:is(.addon):not(:has(> .ar-button)) > .addon-after.border-radius-xl {
  border-top-right-radius: var(--border-radius-xl);
  border-bottom-right-radius: var(--border-radius-xl);
}
.ar-input-wrapper:is(.addon):not(:has(> .ar-button)) > .addon-after.border-radius-xxl {
  border-top-right-radius: var(--border-radius-xxl);
  border-bottom-right-radius: var(--border-radius-xxl);
}
.ar-input-wrapper:is(.addon):not(:has(> .ar-button)) > .addon-after.border-radius-pill {
  border-top-right-radius: var(--border-radius-pill);
  border-bottom-right-radius: var(--border-radius-pill);
}

/* Eğer Addon Before Yoksa */
.ar-input-wrapper:not(:has(> .addon-before)) > .ar-input > input.border-radius-sm {
  border-top-left-radius: var(--border-radius-sm);
  border-bottom-left-radius: var(--border-radius-sm);
}
.ar-input-wrapper:not(:has(> .addon-before)) > .ar-input > input.border-radius-lg {
  border-top-left-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
}
.ar-input-wrapper:not(:has(> .addon-before)) > .ar-input > input.border-radius-xl {
  border-top-left-radius: var(--border-radius-xl);
  border-bottom-left-radius: var(--border-radius-xl);
}
.ar-input-wrapper:not(:has(> .addon-before)) > .ar-input > input.border-radius-xxl {
  border-top-left-radius: var(--border-radius-xxl);
  border-bottom-left-radius: var(--border-radius-xxl);
}
.ar-input-wrapper:not(:has(> .addon-before)) > .ar-input > input.border-radius-pill {
  border-top-left-radius: var(--border-radius-pill);
  border-bottom-left-radius: var(--border-radius-pill);
}

/* Eğer Addon After Yoksa */
.ar-input-wrapper:not(:has(> .addon-after)) > .ar-input > input.border-radius-sm {
  border-top-right-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}
.ar-input-wrapper:has(> .ar-button):not(:has(> .addon-after)) > .ar-input > input.border-radius-sm {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ar-input-wrapper:not(:has(> .addon-after)) > .ar-input > input.border-radius-lg {
  border-top-right-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
}
.ar-input-wrapper:has(> .ar-button):not(:has(> .addon-after)) > .ar-input > input.border-radius-lg {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ar-input-wrapper:not(:has(> .addon-after)) > .ar-input > input.border-radius-xl {
  border-top-right-radius: var(--border-radius-xl);
  border-bottom-right-radius: var(--border-radius-xl);
}
.ar-input-wrapper:has(> .ar-button):not(:has(> .addon-after)) > .ar-input > input.border-radius-xl {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ar-input-wrapper:not(:has(> .addon-after)) > .ar-input > input.border-radius-xxl {
  border-top-right-radius: var(--border-radius-xxl);
  border-bottom-right-radius: var(--border-radius-xxl);
}
.ar-input-wrapper:has(> .ar-button):not(:has(> .addon-after))
  > .ar-input
  > input.border-radius-xxl {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ar-input-wrapper:not(:has(> .addon-after)) > .ar-input > input.border-radius-pill {
  border-top-right-radius: var(--border-radius-pill);
  border-bottom-right-radius: var(--border-radius-pill);
}
.ar-input-wrapper:has(> .ar-button):not(:has(> .addon-after))
  > .ar-input
  > input.border-radius-pill {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Button */
.ar-input-wrapper > .ar-button.border-radius-sm {
  border-top-right-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}
.ar-input-wrapper > .ar-button.border-radius-lg {
  border-top-right-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
}
.ar-input-wrapper > .ar-button.border-radius-xl {
  border-top-right-radius: var(--border-radius-xl);
  border-bottom-right-radius: var(--border-radius-xl);
}
.ar-input-wrapper > .ar-button.border-radius-xxl {
  border-top-right-radius: var(--border-radius-xxl);
  border-bottom-right-radius: var(--border-radius-xxl);
}
.ar-input-wrapper > .ar-button.border-radius-pill {
  border-top-right-radius: var(--border-radius-pill);
  border-bottom-right-radius: var(--border-radius-pill);
}
