.ar-card {
  background-color: var(--white);
  border: solid 1px var(--light);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}
.ar-card > .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--gray-100); */
  padding: 0 1rem;
  height: 3rem;
  border-bottom: solid 1px var(--light);
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.ar-card > .title > .ar-typography-title {
  margin-bottom: 0 !important;
}
.ar-card > .content {
  padding: 1rem;
}
