.ar-confirm-wrapper {
  position: relative;
}
.ar-confirm-wrapper > .ar-confirm {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  background-color: rgba(var(--white-rgb), 0.75);
  backdrop-filter: blur(10px);
  width: 250px;
  padding: 10px;
  border-radius: var(--border-radius-sm);
  box-shadow: 0 0 15px -2.5px rgba(var(--black-rgb), 0.1);
  z-index: 5;
}
.ar-confirm-wrapper > .ar-confirm::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  content: "";
  border: solid 10px transparent;
  border-left-color: var(--white);
}

/* #region Open or Close */
.ar-confirm-wrapper > .ar-confirm:is(.opened) {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: visibility 250ms, opacity 250ms, transform 250ms ease-in-out;
  z-index: 100;
}
.ar-confirm-wrapper > .ar-confirm:is(.closed) {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: visibility 250ms, opacity 250ms, transform 250ms ease-in-out;
  z-index: 99;
}
/* #endregion */
/* Open or Close */

.ar-confirm-wrapper > .ar-confirm > .message {
  font-size: 0.85rem;
  text-wrap: wrap;
}

.ar-confirm-wrapper > .ar-confirm > .footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0 0.5rem;
}
