.ar-kanban-board {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 100%;
  border-radius: var(--border-radius-sm);
  overflow-x: hidden;

  > .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    > .column {
      position: relative;
      background-color: var(--gray-100);
      flex-shrink: 0;
      max-width: 350px;
      min-width: 350px;
      border-radius: var(--border-radius-sm);
      user-select: none;
      overflow: hidden;

      > .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 1rem;
        color: var(--gray-700);

        > h4 {
          font-size: 0.7rem;
          font-weight: 700;
        }

        > span {
          width: 1.5rem;
          height: 1.5rem;
          font-size: 0.75rem;
          font-family: var(--system);
          text-align: center;
          line-height: 1.5rem;
        }
      }

      > .items {
        padding: 1rem;
        height: calc(100% - 1rem);

        &:has(> .no-item) {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        > .no-item {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &::after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 23px;
            content: "";
            background-color: var(--gray-200);
            width: 70px;
            height: 16px;
            border-radius: 100%;
          }

          > span {
            color: var(--gray-500);
            font-family: var(--system);
          }
        }
      }
    }
  }
}
