.ar-kanban-board {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  max-width: 100%;
  min-width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius-lg);
  box-shadow: 0px 10px 15px -5px rgba(var(--black-rgb), 0.1);
  overflow-x: hidden;

  > .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    > .column {
      background-color: var(--gray-100);
      flex-shrink: 0;
      max-width: 350px;
      min-width: 220px;
      border-radius: var(--border-radius-sm);
      user-select: none;

      > .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;

        > span {
          border: solid 1px var(--gray-100);
          border-radius: var(--border-radius-pill);
          color: var(--gray-700);
          font-size: 0.8rem;
          font-family: var(--system);
        }
      }

      > .items {
        padding: 1rem;
        height: calc(100% - 1rem);

        &:has(> .no-item) {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        > .no-item {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &::after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 23px;
            content: "";
            background-color: var(--gray-200);
            width: 70px;
            height: 16px;
            border-radius: 100%;
          }

          > span {
            color: var(--gray-500);
            font-family: var(--system);
          }
        }
      }
    }
  }
}
