.ar-header {
  position: sticky;
  top: 0;
  background-color: rgba(var(--white-rgb), 0.5);
  backdrop-filter: blur(5px);
  height: 3.75rem;
  border-bottom: solid 1px var(--gray-200);
  z-index: 10;
}
.ar-header > .ar-header-with-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}
