@keyframes count {
  0% {
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 0 2.5px rgba(var(--warning-rgb), 0.25);
    color: var(--warning);
    -webkit-text-stroke: 1px var(--warning);
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
