.ar-upload {
  position: relative;
}
.ar-upload > input {
  display: none;
}

.ar-upload > .ar-upload-button .selected-files {
  list-style: none;
}
.ar-upload > .ar-upload-button .selected-files > li {
  display: flex;
  flex-direction: row;
  gap: 0 0.5rem;
}
.ar-upload > .ar-upload-button .selected-files > li > span:first-child {
  font-size: 0.15rem;
}

.ar-upload-button > .ar-upload-files {
  width: 100%;
  transition: top 250ms ease-in-out;
}
.ar-upload-button > .ar-upload-files > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.ar-upload-button > .ar-upload-files > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: solid 1px var(--gray-200);
}
.ar-upload-button > .ar-upload-files > ul > li.error {
  border-left: solid 2px var(--danger);
}
.ar-upload-button > .ar-upload-files > ul > li > .list-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ar-upload-button > .ar-upload-files > ul > li > .list-content > span:first-child {
  width: 90%;
  font-size: 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ar-upload-button > .ar-upload-files > ul > li > .list-content > span:last-child {
  background-color: rgba(var(--danger-rgb), 0.1);
  width: 1rem;
  height: 1rem;
  border-radius: var(--border-radius-pill);
  color: rgba(var(--danger-rgb), 0.5);
  font-size: 0.75rem;
  text-align: center;
  -webkit-text-stroke: 1px rgba(var(--danger-rgb), 0.5);
  line-height: 0.85rem;
  cursor: pointer;
}

.ar-upload-button > .ar-upload-files > ul > li > .errors {
  display: flex;
  flex-direction: column;
  list-style: circle;
}
.ar-upload-button > .ar-upload-files > ul > li > .errors > .bullet {
  color: var(--danger);
}
.ar-upload-button > .ar-upload-files > ul > li > .errors > span {
  display: flex;
  gap: 0.25rem;
  font-size: 0.75rem;
  color: var(--danger);
}

@import url("./animations.css");
