.ar-button {
  position: relative;
  min-width: fit-content;
  padding: 0 1rem;
  border: none;
  border-radius: var(--border-radius-sm);
  font-family: var(--system);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 150ms, border 150ms, color 150ms ease-in-out;
  overflow: hidden;
}
.ar-button.disabled {
  cursor: no-drop;
}

.ar-button.max-width {
  width: 100%;
}

/* Core Css */
@import url("./core/shape.css");
@import url("./core/icon.css");
@import url("./core/position.css");
@import url("./core/size.css");
