.ar-text-editor {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;

  > label {
    position: absolute;
    top: 1.5rem;
    left: 0.85rem;
    display: block;
    padding: 0 0.5rem;
    color: var(--gray-500);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.visible {
      visibility: visible;
      opacity: 1;
      display: block;
      top: 0.25rem;
      left: 1.25rem;
      padding: 0 0.5rem;
      font-size: 0.75rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  > iframe {
    width: 100%;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  > .toolbar {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    margin-top: -1px;
    border: solid 1px transparent;
    border-left-color: var(--gray-300);
    border-right-color: var(--gray-300);
    border-bottom-color: var(--gray-300);
  }

  > .resize {
    position: relative;
    background-color: var(--gray-100);
    width: 100%;
    height: 1.5rem;
    border: solid 1px transparent;
    border-left-color: var(--gray-300);
    border-right-color: var(--gray-300);
    border-bottom-color: var(--gray-300);
    border-bottom-left-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-sm);
    cursor: ns-resize;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--gray-500);
      width: 1.5rem;
      height: 0.1rem;
      box-shadow:
        0px -5px 0 0px var(--gray-500),
        0px 5px 0 0px var(--gray-500);
    }
  }

  > .validation {
    color: var(--danger);
    font-size: 0.8rem;
    font-weight: 400;
  }
}

.ar-alias-panel {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: var(--white);
  width: 200px;
  max-height: 250px;
  border: solid 1px var(--gray-200);
  border-radius: var(--border-radius-lg);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 10px 15px -5px rgba(var(--black-rgb), 0.1);
  /* Sırasıyla; Ad, Süre, Hız, Gecikme Süresi, Tekrar Sayısı, Yön, Bitiş Süreci */
  animation: opened ease-in-out 250ms 0s 1 normal both;

  > ul {
    > li {
      display: flex;
      align-items: center;
      gap: 0 0.5rem;
      padding: 0 1rem;
      height: var(--input-height);
      cursor: pointer;

      &:hover {
        background-color: var(--gray-100);
      }
    }
  }
}

.ar-text-editor--block-item {
  position: absolute;
  inset: 0;
  cursor: ns-resize;
}

@keyframes opened {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
