.ar-date-picker {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.ar-date-picker > .calendar {
  position: absolute;
  left: 0;
  top: calc(var(--input-height) + 0.5rem);
  background-color: rgba(var(--white-rgb), 0.25);
  backdrop-filter: blur(10px);
  width: 20rem;
  border-radius: var(--border-radius-sm);
  box-shadow: 0 0 10px -5px rgba(var(--black-rgb), 0.25);
  z-index: 5;
}
.ar-date-picker > .calendar > .content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem 0;
  margin: 0.5rem;
}

.ar-date-picker > .calendar > .header > .select-field {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 0 0.75rem;
  padding: 0.5rem;
  border-bottom: solid 1px var(--gray-200);
}
.ar-date-picker > .calendar > .header > .select-field > .selects {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: var(--input-height);
}

/* #region Prev and Next Buttons */
.ar-date-picker > .calendar > .header > .select-field > .prev,
.ar-date-picker > .calendar > .header > .select-field > .next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
  color: var(--gray-600);
  cursor: pointer;
  user-select: none;
}

/* #endregion Prev and Next Buttons */
/* Prev and Next Buttons */

/* #region Weekdays */
.ar-date-picker > .calendar > .content > .weekdays {
  display: flex;
  flex-wrap: nowrap;
}
.ar-date-picker > .calendar > .content > .weekdays > span {
  width: calc(100% / 7);
  color: var(--gray-600);
  font-size: 0.8rem;
  text-align: center;
  user-select: none;
}
/* #endregion Weekdays */
/* Weekdays */

/* #region Days */
.ar-date-picker > .calendar > .content > .days {
  display: flex;
  flex-wrap: wrap;
  /* gap: 0.25rem; */
  user-select: none;
}
.ar-date-picker > .calendar > .content > .days > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 7);
  height: var(--input-height);
  cursor: pointer;
}
.ar-date-picker > .calendar > .content > .days > span > span {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 75%;
  height: 75%;
  border-radius: var(--border-radius-sm);
}
.ar-date-picker > .calendar > .content > .days > span:not(.empty-day) > span:hover {
  background-color: var(--gray-200);
  color: var(--gray-700);
}
.ar-date-picker > .calendar > .content > .days > span.selection-day > span {
  background-color: var(--primary);
  color: var(--white);
  box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--primary);
}

/* #endregion Days */
/* Days */

/* #region Actions */
.ar-date-picker > .calendar > .actions {
  padding: 0.5rem;
  border-top: solid 1px var(--gray-200);
}
/* #endregion Actions */
/* Actions */
