:root {
  --header-height: 2.75rem;
  --footer-height: 2.75rem;
}

.ar-date-picker {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.ar-date-picker > .calendar-wrapper {
  position: absolute;
  left: 0;
  top: calc(var(--input-height) + 0.5rem);
  background-color: rgba(var(--white-rgb), 0.75);
  backdrop-filter: blur(10px);
  width: 20rem;
  border: solid 1px var(--gray-200);
  border-radius: var(--border-radius-lg);
  box-shadow: 0 0 10px -5px rgba(var(--black-rgb), 0.25);
  z-index: 5;
  transition: visibility 250ms, opacity 250ms, transform 250ms ease-in-out;
}
.ar-date-picker > .calendar-wrapper:is(.opened) {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}
.ar-date-picker > .calendar-wrapper:is(.closed) {
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0.8);
}
.ar-date-picker > .calendar-wrapper.top:is(.opened, .closed),
.ar-date-picker > .calendar-wrapper.top:is(.opened, .closed) {
  transform-origin: top;
}
.ar-date-picker > .calendar-wrapper.bottom:is(.opened, .closed),
.ar-date-picker > .calendar-wrapper.bottom:is(.opened, .closed) {
  transform-origin: bottom;
}

@import url("./calendar/header.css");
@import url("./calendar/content.css");
@import url("./calendar/footer.css");

@import url("./clock/clock.css");
@import url("./clock/header.css");
@import url("./clock/content.css");
@import url("./clock/footer.css");
