.row {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-flow: row wrap;
  margin-top: -0.75rem;
  margin-left: -0.75rem;
}
.row:has(+ .row) {
  margin-bottom: 0.75rem;
}
.row > * {
  padding-top: 0.75rem;
  padding-left: 0.75rem;
  min-height: 3rem;
}
.row > .col {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  max-width: 100%;
}

@media (width <= 575px) {
  .row > .col {
    min-width: 100%;
  }
}
