@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .row > .col-lg-1 {
    flex: 0 0 calc(100% * 1 / 12);
    max-width: calc(100% * 1 / 12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% * 1 / 12);
  }
  .row > .col-lg-2 {
    flex: 0 0 calc(100% * 2 / 12);
    max-width: calc(100% * 2 / 12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% * 2 / 12);
  }
  .row > .col-lg-3 {
    flex: 0 0 calc(100% * 3 / 12);
    max-width: calc(100% * 3 / 12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% * 3 / 12);
  }
  .row > .col-lg-4 {
    flex: 0 0 calc(100% * 4 / 12);
    max-width: calc(100% * 4 / 12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% * 4 / 12);
  }
  .row > .col-lg-5 {
    flex: 0 0 calc(100% * 5 / 12);
    max-width: calc(100% * 5 / 12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% * 5 / 12);
  }
  .row > .col-lg-6 {
    flex: 0 0 calc(100% * 6 / 12);
    max-width: calc(100% * 6 / 12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% * 6 / 12);
  }
  .row > .col-lg-7 {
    flex: 0 0 calc(100% * 7 / 12);
    max-width: calc(100% * 7 / 12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% * 7 / 12);
  }
  .row > .col-lg-8 {
    flex: 0 0 calc(100% * 8 / 12);
    max-width: calc(100% * 8 / 12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% * 8 / 12);
  }
  .row > .col-lg-9 {
    flex: 0 0 calc(100% * 9 / 12);
    max-width: calc(100% * 9 / 12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% * 9 / 12);
  }
  .row > .col-lg-10 {
    flex: 0 0 calc(100% * 10 / 12);
    max-width: calc(100% * 10 / 12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% * 10 / 12);
  }
  .row > .col-lg-11 {
    flex: 0 0 calc(100% * 11 / 12);
    max-width: calc(100% * 11 / 12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% * 11 / 12);
  }
  .row > .col-lg-12 {
    flex: 0 0 calc(100% * 12 / 12);
    max-width: calc(100% * 12 / 12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% * 12 / 12);
  }
}
