.ar-input-wrapper > .ar-input:is(.icon) > .icon-element {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}
.ar-input-wrapper > .ar-input:is(.icon.icon-start) > .icon-element {
  left: 0.5rem;
}
.ar-input-wrapper > .ar-input:is(.icon.icon-end) > .icon-element {
  right: 0.5rem;
}
.ar-input-wrapper > .ar-input:is(.icon.icon-start) > input {
  padding-left: 2rem;
}
.ar-input-wrapper > .ar-input:is(.icon.icon-end) > input {
  padding-right: 2rem;
}
