/* #region Border Radius -> SM */
.ar-input-wrapper > .ar-button.border-radius-sm {
  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
}
/* #endregion */
/* Border Radius -> SM */

/* #region Border Radius -> LG */
.ar-input-wrapper > .ar-button.border-radius-lg {
  border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
}
/* #endregion */
/* Border Radius -> LG */

/* #region Border Radius -> XL */
.ar-input-wrapper > .ar-button.border-radius-xl {
  border-radius: 0 var(--border-radius-xl) var(--border-radius-xl) 0;
}
/* #endregion */
/* Border Radius -> XL */

/* #region Border Radius -> XXL */
.ar-input-wrapper > .ar-button.border-radius-xxl {
  border-radius: 0 var(--border-radius-xxl) var(--border-radius-xxl) 0;
}
/* #endregion */
/* Border Radius -> XXL */

/* #region Border Radius -> PILL */
.ar-input-wrapper > .ar-button.border-radius-pill {
  border-radius: 0 var(--border-radius-pill) var(--border-radius-pill) 0;
}
/* #endregion */
/* Border Radius -> PILL */