.ar-menu {
  padding: 0 0.25rem;
  font-family: var(--system);
}
.ar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ar-menu ul li a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
}
.ar-menu ul li ul {
  margin-left: 1rem;
}
.ar-menu ul li.selected {
  color: var(--primary);
}

/* Core Css */
/* @import url("./core/selected.css"); */
@import url("./core/open-or-close.css");

/* Variant Css */
/* @import url("./variant/vertical.css"); */
