.ar-menu {
  padding: 0 0.25rem;
  font-family: var(--system);
}
.ar-menu ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.ar-menu ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ar-menu ul li a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
}
.ar-menu ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
  border-radius: var(--border-radius-pill);
}
.ar-menu ul li span svg {
  color: var(--light);
}

.ar-menu ul li.selected {
  color: var(--primary);
}
.ar-menu ul li.selected span {
  background-color: var(--primary);
  box-shadow: 0 0 0 5px rgba(var(--primary-rgb), 0.1);
}
.ar-menu ul li.selected span svg {
  color: var(--white);
}

/* Core Css */
@import url("./core/open-or-close.css");
