.ar-menu {
  width: 100%;
  padding: 0 0.25rem;
  font-family: var(--system);
  overflow: hidden;

  > ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;

    li {
      ul {
        display: grid;
        grid-template-rows: 0fr;
        list-style: none;
      }

      .item-render {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        text-wrap: nowrap;
        cursor: pointer;

        &.align-center {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        > .item {
        }

        > hr {
          width: 100%;
          border: none;
          border-bottom: solid 1px currentColor;
          margin: 0.5rem 0;
        }

        > .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 2rem;
          min-height: 2rem;
          border-radius: var(--border-radius-pill);

          svg {
            color: var(--light);
          }

          > .no-icon::before {
            display: inline-block;
            content: "";
            width: 0.75rem;
            height: 0.75rem;
            border: dashed 2px transparent;
            border-top-color: var(--light);
            border-right-color: var(--light);
            border-left-color: rgba(var(--black-rgb), 0.1);
            border-bottom-color: rgba(var(--black-rgb), 0.1);
            transform-origin: center;
            transform: rotate(45deg);
          }
        }

        > .angel-down {
          position: absolute;
          top: calc(var(--input-height) / 2);
          transform: translateY(-50%);
          right: 0.5rem;
          width: 0.75rem;
          height: 0.75rem;
          margin-left: auto;
          cursor: pointer;

          &::before {
            display: inline-block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border: 1px transparent;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: dashed;
            border-left-style: dashed;
            border-top-color: rgba(var(--black-rgb), 0.5);
            border-right-color: rgba(var(--black-rgb), 0.5);
            border-left-color: rgba(var(--black-rgb), 0.1);
            border-bottom-color: rgba(var(--black-rgb), 0.1);
            transform-origin: center;
            transform: rotate(45deg);
            transition: transform 250ms ease-in-out;
          }

          &.opened::before {
            transform: rotate(135deg);
          }
        }
      }

      &.divider {
        color: var(--black);
      }

      &.selected {
        color: var(--selected-icon-bg-color);

        .icon {
          color: var(--selected-icon-color);
        }

        .item-render {
          > .icon {
            background-color: var(--selected-icon-bg-color);
            box-shadow: 0 0 0 5px var(--selected-icon-bg-color-rgb);
            color: var(--white) !important;
          }

          > .no-icon::before {
            border: solid 2px transparent;
            border-top-color: var(--light);
            border-right-color: var(--light);
            border-left-color: rgba(var(--black-rgb), 0.1);
            border-bottom-color: rgba(var(--black-rgb), 0.1);
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}

/* Core Css */
@import url("./core/open-or-close.css");
