.ar-menu ul li ul {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 250ms ease-in-out, opacity 250ms cubic-bezier(1, 0, 0, 1);
}
.ar-menu .ar-menu-list-item-groups.opened {
  display: flex;
  flex-direction: column;
  gap: 0.25rem 0;
  opacity: 1;
  max-height: 100rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.ar-menu .ar-menu-list-item-group-item-title {
  display: flex;
  align-items: center;
}
.ar-menu .ar-menu-list-item-group-item-title:is(.ar-angle-down, .ar-angle-up) {
  cursor: pointer;
}
.ar-menu .ar-menu-list-item-group-item-title:is(.ar-angle-down, .ar-angle-up)::after {
  display: inline-block;
  position: relative;
  top: 0.5px;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.5rem;
  border: solid 2px transparent;
  border-right-color: var(--red);
  border-bottom-color: var(--red);
  transform-origin: center;
  transform: rotate(45deg);
  transition: top 250ms, transform 250ms ease-in-out;
}
.ar-menu .ar-menu-list-item-group-item-title.ar-angle-up::after {
  top: -1px;
  transform: rotate(585deg);
}
