.ar-menu .ar-menu-list-item.selected {
  background-color: rgba(var(--black-rgb), 0.03) !important;
  border-top-left-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
}

/* SubMenu */
.ar-menu .ar-menu-list-item-group-item.selected {
  background-color: rgba(var(--black-rgb), 0.03) !important;
  border-top-left-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
}
.ar-menu .ar-menu-list-item-group-item-title.selected {
  background-color: rgba(var(--red-rgb), 0.1) !important;
  border-top-left-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
  color: var(--red);
}
