.ar-menu .ar-menu-list-item.selected {
  background-color: rgba(var(--black-rgb), 0.03) !important;
  border-top-left-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
}

/* SubMenu */
.ar-menu .ar-menu-list-item-group-item.selected {
  background-color: rgba(var(--black-rgb), 0.03) !important;
  border-top-left-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
}
.ar-menu .ar-menu-list-item-group-item-title.selected {
  background-color: var(--gray-100) !important;
  border-top-left-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
  box-shadow: 0 0 0 1px var(--gray-200);
}
