.ar-layout {
  display: flex;
  flex-direction: row;
}

.ar-layout > aside.ar-aside {
  position: sticky;
  top: 0;
  background-color: var(--gray-100);
  height: 100vh;
  box-sizing: border-box;
}
.ar-layout > aside.ar-aside.left {
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--gray-200);
}
.ar-layout > aside.ar-aside.left > .logo {
  display: flex;
  align-items: center;
}
.ar-layout > aside.ar-aside.right {
}

.ar-layout > main {
  display: flex;
  flex-direction: column;
}
.ar-layout > main > header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(var(--white-rgb), 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 10px -15px rgba(var(--black-rgb), 0.25);
  z-index: 10;
}
.ar-layout > main > header > .actions {
  margin-left: auto;
}

.ar-layout > main > section {
  width: 100%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.ar-layout > main > section.full-width {
}

/* Media Queries */
@import url("./media-queries/xxx-large.css");
@import url("./media-queries/xx-large.css");
@import url("./media-queries/x-large.css");
@import url("./media-queries/large.css");
@import url("./media-queries/medium.css");
@import url("./media-queries/small.css");
@import url("./media-queries/x-small.css");
