.ar-layout {
  display: flex;
  flex-direction: column;
}
.ar-layout > main {
  display: flex;
  flex-direction: row;
  width: 1280px;
  margin: 2.5rem auto 0 auto;
}
.ar-layout > main > aside.ar-aside {
  position: sticky;
  top: 5rem;
  height: 100%;
}
.ar-layout > main > aside.ar-aside.left {
  min-width: 20%;
  min-height: calc(100vh - 7.5rem);
  border-right: solid 1px var(--gray-200);
}
.ar-layout > main > aside.ar-aside.right {
  min-width: 20%;
}
.ar-layout > main > section {
  height: fit-content;
  padding: 0 2rem;
  border-radius: var(--border-radius-lg);
}
.ar-layout > main:not(:has(> .ar-aside)) > section {
  min-width: 100%;
}
.ar-layout > main:has(> .ar-aside) > section {
  min-width: calc(80% - 2.5%);
}
.ar-layout > main:has(> .ar-aside) > section:has(~ .ar-aside) {
  min-width: calc(60% - 5%);
}

@import url("./header.css");
