.ar-date-calendar {
  position: absolute;
  background-color: var(--white);
  width: 20rem;
  border: solid 1px var(--gray-200);
  border-radius: var(--border-radius-lg);
  box-shadow: 0 0 10px -5px rgba(var(--black-rgb), 0.25);
  z-index: 1051;
  transition: visibility 250ms, opacity 250ms ease-in-out;
}
