.ar-date-calendar > .header {
  display: flex;
  align-items: center;
  min-height: 3.75rem;
  padding: 0 1rem;
  border-bottom: solid 1px var(--gray-200);
}
.ar-date-calendar > .header > .select-field {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 0.75rem;
  width: 100%;
  padding: 0 0.5rem;
}

.ar-date-calendar > .header > .select-field > .selects {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 0 1rem;
  height: var(--input-height);
}
.ar-date-calendar > .header > .select-field > .selects > div > span {
  -webkit-text-stroke: 1px var(--black);
  user-select: none;
}

/* #region Prev and Next Buttons */
.ar-date-calendar > .header > .select-field > .prev,
.ar-date-calendar > .header > .select-field > .next {
  user-select: none;
}
/* #endregion Prev and Next Buttons */
/* Prev and Next Buttons */
