.ar-paper {
  position: relative;
  background-color: var(--white);
  padding: 1rem;
  border-radius: var(--border-radius-lg);
  box-shadow: 0 0 20px 0 rgba(var(--black-rgb), 0.02);
}
.ar-paper > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin-bottom: 0.75rem;
}
/* .ar-paper > .header > h3 {
  color: var(--gray-700);
} */

.ar-paper > .content {
}
