.ar-dnd {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.ar-dnd > div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
  width: 100%;
  cursor: move;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.ar-dnd > div.drag-item {
  opacity: 0.5;
}
.ar-dnd > div.over-item {
  position: relative;
}
.ar-dnd > div.over-item::after {
  position: absolute;
  content: "";
  background-color: var(--success);
  left: 1rem;
  right: 1rem;
  bottom: 0;
  height: 5px;
  border-radius: var(--border-radius-pill);
}
.ar-dnd > div.end-item {
  /* Sırasıyla; Ad, Süre, Hız, Gecikme Süresi, Tekrar Sayısı, Yön, Bitiş Süreci */
  animation: endItem ease-in-out 1s 0s 1 normal both;
}

.ar-dnd > div > .move {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ar-dnd > div > .content {
  flex: 100%;
}

@import url("./animations.css");
