.ar-button > .text {
  display: flex;
}
.ar-button:is(.icon) > .text {
  gap: 0 0.5rem;
}
.ar-button:is(.icon-start) > .text {
  flex-direction: row;
}
.ar-button:is(.icon-end) > .text {
  flex-direction: row-reverse;
}
