.ar-button-tooltip {
  position: absolute;
  background-color: var(--black);
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-sm);
  z-index: 15;
}
.ar-button-tooltip::before {
  position: absolute;
  content: "";
  border: solid 7.5px transparent;
}
.ar-button-tooltip.top::before {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top-color: var(--black);
}
.ar-button-tooltip.right::before {
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  border-right-color: var(--black);
}
.ar-button-tooltip.bottom::before {
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  border-bottom-color: var(--black);
}
.ar-button-tooltip.left::before {
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  border-left-color: var(--black);
}
.ar-button-tooltip > span {
  color: var(--white);
  text-wrap: nowrap;
}
