/* #region Border Color -> BLUE */
.ar-radio-wrapper {
  > label {
    > input[type="radio"] {
      &:checked {
        + span {
          > .ar-radio.filled.blue::before {
            border-right-color: var(--white);
            border-bottom-color: var(--white);
          }

          > .ar-radio.filled.blue {
            background-color: var(--blue-500);
            box-shadow: 0 0 0 3.5px var(--blue-100);
          }
        }
      }
    }
  }
}
/* #endregion */
/* Border Color -> BLUE */

/* #region Border Color -> PURPLE */
.ar-radio-wrapper {
  > label {
    > input[type="radio"] {
      &:checked {
        + span {
          > .ar-radio.filled.purple::before {
            border-right-color: var(--white);
            border-bottom-color: var(--white);
          }

          > .ar-radio.filled.purple {
            background-color: var(--purple-500);
            box-shadow: 0 0 0 3.5px var(--purple-100);
          }
        }
      }
    }
  }
}
/* #endregion */
/* Border Color -> PURPLE */

/* #region Border Color -> PINK */
.ar-radio-wrapper {
  > label {
    > input[type="radio"] {
      &:checked {
        + span {
          > .ar-radio.filled.pink::before {
            border-right-color: var(--white);
            border-bottom-color: var(--white);
          }

          > .ar-radio.filled.pink {
            background-color: var(--pink-500);
            box-shadow: 0 0 0 3.5px var(--pink-100);
          }
        }
      }
    }
  }
}
/* #endregion */
/* Border Color -> PINK */

/* #region Border Color -> RED */
.ar-radio-wrapper {
  > label {
    > input[type="radio"] {
      &:checked {
        + span {
          > .ar-radio.filled.red::before {
            border-right-color: var(--white);
            border-bottom-color: var(--white);
          }

          > .ar-radio.filled.red {
            background-color: var(--red-500);
            box-shadow: 0 0 0 3.5px var(--red-100);
          }
        }
      }
    }
  }
}
/* #endregion */
/* Border Color -> RED */

/* #region Border Color -> ORANGE */
.ar-radio-wrapper {
  > label {
    > input[type="radio"] {
      &:checked {
        + span {
          > .ar-radio.filled.orange::before {
            border-right-color: var(--white);
            border-bottom-color: var(--white);
          }

          > .ar-radio.filled.orange {
            background-color: var(--orange-500);
            box-shadow: 0 0 0 3.5px var(--orange-100);
          }
        }
      }
    }
  }
}
/* #endregion */
/* Border Color -> ORANGE */

/* #region Border Color -> YELLOW */
.ar-radio-wrapper {
  > label {
    > input[type="radio"] {
      &:checked {
        + span {
          > .ar-radio.filled.yellow::before {
            border-right-color: var(--white);
            border-bottom-color: var(--white);
          }

          > .ar-radio.filled.yellow {
            background-color: var(--yellow-500);
            box-shadow: 0 0 0 3.5px var(--yellow-100);
          }
        }
      }
    }
  }
}
/* #endregion */
/* Border Color -> YELLOW */

/* #region Border Color -> GREEN */
.ar-radio-wrapper {
  > label {
    > input[type="radio"] {
      &:checked {
        + span {
          > .ar-radio.filled.green::before {
            border-right-color: var(--white);
            border-bottom-color: var(--white);
          }

          > .ar-radio.filled.green {
            background-color: var(--green-500);
            box-shadow: 0 0 0 3.5px var(--green-100);
          }
        }
      }
    }
  }
}
/* #endregion */
/* Border Color -> GREEN */

/* #region Border Color -> TEAL */
.ar-radio-wrapper {
  > label {
    > input[type="radio"] {
      &:checked {
        + span {
          > .ar-radio.filled.teal::before {
            border-right-color: var(--white);
            border-bottom-color: var(--white);
          }

          > .ar-radio.filled.teal {
            background-color: var(--teal-500);
            box-shadow: 0 0 0 3.5px var(--teal-100);
          }
        }
      }
    }
  }
}
/* #endregion */
/* Border Color -> TEAL */

/* #region Border Color -> CYAN */
.ar-radio-wrapper {
  > label {
    > input[type="radio"] {
      &:checked {
        + span {
          > .ar-radio.filled.cyan::before {
            border-right-color: var(--white);
            border-bottom-color: var(--white);
          }

          > .ar-radio.filled.cyan {
            background-color: var(--cyan-500);
            box-shadow: 0 0 0 3.5px var(--cyan-100);
          }
        }
      }
    }
  }
}
/* #endregion */
/* Border Color -> CYAN */

/* #region Border Color -> GRAY */
.ar-radio-wrapper {
  > label {
    > input[type="radio"] {
      &:checked {
        + span {
          > .ar-radio.filled.gray::before {
            border-right-color: var(--white);
            border-bottom-color: var(--white);
          }

          > .ar-radio.filled.gray {
            background-color: var(--gray-500);
            box-shadow: 0 0 0 3.5px var(--gray-100);
          }
        }
      }
    }
  }
}
/* #endregion */
/* Border Color -> GRAY */

/* #region Border Color -> LIGHT */
.ar-radio-wrapper {
  > label {
    > input[type="radio"] {
      &:checked {
        + span {
          > .ar-radio.filled.light::before {
            border-right-color: var(--white);
            border-bottom-color: var(--white);
          }

          > .ar-radio.filled.light {
            background-color: var(--light-500);
            box-shadow: 0 0 0 3.5px var(--light-100);
          }
        }
      }
    }
  }
}
/* #endregion */
/* Border Color -> LIGHT */