.ar-table-filter-popup {
  position: absolute;
  background-color: var(--white);
  width: 225px;
  max-height: 300px;
  padding: 1rem;
  border-radius: var(--border-radius-sm);
  box-shadow: 0px 10px 15px -5px rgba(var(--black-rgb), 0.1);
  transition: top 350ms, left 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  z-index: 1052;
}
