.ar-table-properties-popup {
  position: absolute;
  background-color: var(--white);
  width: 225px;
  padding: 0.5rem 0;
  border-radius: var(--border-radius-sm);
  box-shadow: 0px 10px 15px -5px rgba(var(--black-rgb), 0.1);
  transition:
    top 350ms,
    left 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  z-index: 1052;

  > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    > li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      padding: 0.5rem;
      cursor: pointer;
      transition: background 250ms ease-in-out;
      user-select: none;

      &:hover {
        background-color: var(--gray-100);
      }

      > span {
        position: relative;

        &:first-child {
          top: 2.5px;
        }
      }
    }
  }
}
