.ar-table {
  /* Scroll durumu */
  &:is(.scroll) {
    > .content {
      max-width: 100%;
      overflow: auto;

      > table {
        > thead {
          > tr {
            > th {
              position: sticky;
              top: 0;
            }
          }
        }
      }
    }
  }

  > .content {
    > table {
      th[class^="sticky-"] {
        z-index: 50;
      }

      .sticky-left {
        position: sticky;
        left: 0;
      }

      .sticky-right {
        position: sticky;
        right: 0;
      }

      > thead {
        > tr {
          > th {
            &:is(.sticky-left, .sticky-right) {
              &:is(.sticky, .active-sticky) {
                background-color: var(--gray-100);

                &::after {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  content: "";
                  background-color: var(--gray-200);
                  width: 1px;
                  height: 50%;
                }
              }
            }

            &.sticky-left {
              &:is(.sticky, .active-sticky) {
                &::after {
                  right: 0;
                }
              }
            }

            &.sticky-right {
              &:is(.sticky, .active-sticky) {
                &::after {
                  left: 0;
                  right: auto;
                }
              }
            }
          }
        }
      }

      > tbody {
        > tr {
          > td {
            &:is(.sticky-left, .sticky-right) {
              &:is(.sticky, .active-sticky) {
                background-color: var(--gray-100);
              }
            }

            &.sticky-left {
              &:is(.sticky, .active-sticky) {
                box-shadow: inset -1px 0 0 0 var(--gray-200);
              }
            }

            &.sticky-right {
              &.sticky {
                box-shadow: inset 1px 0 0 0 var(--gray-200);
              }
            }
          }
        }
      }

      .active-sticky {
        &::after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          background-color: var(--gray-200);
          width: 1px;
          height: 100%;
        }
      }

      .sticky-left {
        .active-sticky {
          &::after {
            right: 0;
          }
        }
      }

      .sticky-right {
        .active-sticky {
          &::after {
            left: 0;
            right: auto;
          }
        }
      }
    }
  }
}
