.ar-table {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  max-width: 100%;
  border-radius: var(--border-radius-lg);
  box-shadow: 0px 10px 15px -5px rgba(var(--black-rgb), 0.1);
  overflow: hidden;
}
.ar-table > .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.ar-table > .header > .title {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.ar-table > .header > .title > h3 {
  color: var(--gray-700);
  -webkit-text-stroke: 0.25px var(--gray-700);
}
.ar-table > .header > .title > h5 {
  color: var(--gray-600);
}
.ar-table > .header > .actions {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  margin-left: auto;
}

.ar-table > .footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: solid 1px var(--gray-200);
}

.ar-table > .header > div:first-child > .ar-input-wrapper,
.ar-table > .header > div:first-child > .ar-input-wrapper > .ar-input,
.ar-table > .header > div:first-child > .ar-input-wrapper > .ar-input > input {
  width: auto !important;
}
.ar-table > .header > div:last-child {
  margin-left: auto;
}

.ar-table > .content > table {
  border-collapse: collapse;
  width: 100%;
}

.ar-table > .content > table > thead > tr > th,
.ar-table > .content > table > tbody > tr > td {
  height: 3rem;
  padding: 0 1.5rem;
}

.ar-table > .content > table > thead {
  background-color: var(--gray-100);
  border: solid 1px var(--gray-100);
  border-top-color: var(--gray-200);
  border-bottom-color: var(--gray-200);
}
.ar-table > .content > table > thead > tr:first-child {
  border-bottom: solid 1px var(--gray-200);
}
.ar-table > .content > table > thead > tr > th {
  position: relative;
  color: var(--gray-700);
  -webkit-text-stroke: 0.25px var(--gray-700);
  text-align: left;
  transition: background 250ms, box-shadow 250ms ease-in-out;
  z-index: 2;
}
.ar-table > .content > table > thead > tr > th::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "";
  background-color: var(--gray-200);
  width: 1px;
  height: 50%;
}
.ar-table > .content > table > thead > tr > th:last-child:after {
  display: none;
}
.ar-table > .content > table > thead > tr:last-child > th::after {
  display: none;
}
.ar-table > .content > table > thead > tr > th.selection-col {
  width: 2rem;
}
.ar-table > .content > table > thead > tr > th.type-of-number {
  text-align: right;
}
.ar-table > .content > table > thead > tr > th.align-content-left {
  text-align: left;
}
.ar-table > .content > table > thead > tr > th.align-content-center {
  text-align: center;
}
.ar-table > .content > table > thead > tr > th.align-content-right {
  text-align: right;
}

.ar-table > .content > table > thead > tr > th > .search-input {
  background-color: var(--gray-200);
  width: 100%;
  height: var(--input-height);
  padding: 0 0.5rem;
  border: solid 1px var(--gray-200);
  border-radius: var(--border-radius-sm);
  font-family: var(--system);
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
  transition: background 250ms, border 250ms, box-shadow 250ms ease-in-out;
}
.ar-table > .content > table > thead > tr > th > .search-input:focus {
  border: solid 1px var(--primary);
  box-shadow: 0 0 0 3.5px rgba(var(--primary-rgb), 0.25);
}

.ar-table > .content > table > tbody > tr {
  border-bottom: solid 1px var(--gray-200);
}
.ar-table > .content > table > tbody > tr:last-child {
  border-bottom: none;
}
.ar-table > .content > table > tbody > tr > td {
  z-index: 1;
}
.ar-table > .content > table > tbody > tr > td.type-of-number {
  text-align: right;
}
.ar-table > .content > table > tbody > tr > td.align-content-left {
  text-align: left;
}
.ar-table > .content > table > tbody > tr > td.align-content-center {
  text-align: center;
}
.ar-table > .content > table > tbody > tr > td.align-content-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.ar-table > .content > table > tbody > tr > td.text-wrap {
  text-wrap: wrap;
}
.ar-table > .content > table > tbody > tr > td.text-nowrap {
  text-wrap: nowrap;
}

@import url("./scroll.css");
