.ar-table {
  margin: 1rem;
  border-radius: var(--border-radius-xl);
}
.ar-table > table {
  border-collapse: collapse;
  width: 100%;
}
.ar-table > table > thead > tr > th {
  position: relative;
  background-color: var(--gray-100);
  padding: 1rem 0.5rem;
  color: var(--gray-700);
  box-shadow: 0 2px 0 0 var(--gray-200);
  transition: background 250ms, box-shadow 250ms ease-in-out;
  text-align: left;
  z-index: 1;
}
.ar-table > table > tbody > tr > td {
  text-wrap: nowrap;
  z-index: 1;
}
.ar-table > table > tbody > tr > td {
  background-color: var(--white);
  padding: 0.5rem;
}

@import url("./scroll.css");
